
.menu {
    background-color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.menu ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu li {
    height: 50px;
}

.menu a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color : black;
    justify-content: center;
}

.menu a:hover{
    background-color: #f2f2f2;
}

.menu li:first-child{
    margin-right: auto;
}

.menu .sidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.011);
    backdrop-filter: blur(10px);
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.menu .sidebar li, a{
    width: 100%;
}

.menu-icon{
    display: none;
}

@media(max-width: 768px){
    .hideOnMobile{
        display: none;
    }
    .menu-icon{
        display: block;
    }
}

@media(max-width: 425px){
    .menu .sidebar{
        width: 100vw;
    }
}

